<% @posts.each do |post| %>
<div class="post">
  <div class="header">
    <div class="title">
      <%= link_to post.title, post %>
    </div>
    <div class="date">
      <%= format_date post.created_at %>
    </div>
    <%= clear %>
  </div>
  <%= clear %>
  <div class="body">
    <%= textile_to_html post.body %>  
  </div>
  <div class="footer">
    <div class="comments">
      <%= link_to pluralize(post.comments.count, "comment"), post_path(post, :anchor => "comments") %>
    </div>
  </div>
  <% if logged_in? %>
  <%= link_to "Edit", edit_admin_post_path(post) %>
  <% end %>
</div>
<% end %>