<div class="single-post">
  <div class="header">
    <div class="title">
      <%= @post.title %>
    </div>
    <div class="date">
      <%= format_date @post.created_at %>
    </div>
    <%= clear %>
  </div>
  <%= clear %>
  <div class="body">
    <%= textile_to_html @post.body %>  
  </div>
  <div class="footer">
    <a name="comments"></a>
    <div class="comments-count">
      <%= pluralize @post.comments.count, "comment" %>
    </div>
    <div class="comments">
      <%= render :partial => "comment", :collection => @post.comments %>
    </div>
    <div class="comments-footer">
    </div>
  </div>
</div>