<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Andrés Mejía - Fantastic Ruby on Rails developer") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'coderay' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans' %>
    <%= yield(:head) %>
    <%= render :partial => "shared/math_jax" %>
    <%= render :partial => "shared/google_analytics" %>
  </head>
  <body>
    <%= render :partial => "shared/header" %>
    
    
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      
      <%= yield %>
    </div>
    
    <%= render :partial => "shared/footer" %>
  </body>
</html>
